node_modules/
dist/
pnpm-lock.yaml
*.html
*.json
# BUT do not ignore these critical infrastructure files!(Ignore all .json files excepts these ones below)
!package.json
!tsconfig.json
!benchmarks/*.json